{% extends 'base.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}

{% block body %}

    <h1>Modifier le compte</h1>

    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_start(form) }}

    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.username) }}

    {{ form_end(form) }}
{% endblock %}